@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --textColor: #4F4F4F;
  --formLabel: #828282;
  --primary: #1660CF;
}

.default_box{
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 520px;
}

body{ 
  background-color: #e2e2e2;
  padding: 10% 15%;
}

.hide_container {
  display: none;
}

.show_container {
  display: block;
}

.text_color {
  color: var(--textColor);
}

.text_md {
  font-size: 14px;
  font-weight: 400;
}

.text_lg {
  font-size: 16px;
  font-weight: bold;
}

.text_sm {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.main_container {
  
}

.logo_container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.content_container {
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address_container {
  min-width: 500px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* BILLING ADDRESS */

.heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: -10px;
}

.billing_address_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  width: 100%;
  margin-top: 30px;
}

/* INPUT FIELDS */
.formInput_style {
  border: 1px solid #e2e2e2;
  height: 30px;
  width: 85%;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  outline: none;
  color: var(--textColor);
}

select[name="state"] {
  height: 40px;
  width: 248px;
}

input[name="streetAddressExt"] {
  margin-top: 15px;
}

input[type="email"], input[name="streetAddress"], input[name="streetAddressExt"] {
  width: 92%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input_flex {
  display: flex;
  justify-content: space-between;
}

.input_flexitem {
  width: 400px;
}

.input_position {
  position: relative;
}

.email_input {
  width: 100%;
}

#createAccount {
  margin-top: 15px;
}

#inputLabel {
  color: var(--formLabel);
  position: absolute;
  top: -7px;
  left: 5px;
  font-size: 12px;
  transition: top .5s;
  margin: 0 8px;
  padding: 0 7px;
  background-color: white;
}

/* SHIPPING METHOD */

.radio_input_container {
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  padding: 10px 5px;
}

.shipping_method_input {
  margin-top: 30px;
}

/* INPUT */

.method_container {
  border: 2px solid #e2e2e2;
  border-radius: 4px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.method_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 25px;
  left: 20px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.method_container:hover input~.checkmark {
  background-color: #ccc;
}

.method_container input:checked~.checkmark {
  background-color: var(--primary);
}

.selected_container {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  opacity: 0.1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.method_container input:checked~.checkmark:after {
  display: block;
}

.method_container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

.method_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* INPUT */
.radio_input_container:first-child {
  margin-top: 35px;
}

.radio_content,
.radio_price {
  margin-left: 15px;
}

.radio_content {
  color: var(--textColor)
}

.radio_img {
  height: 50px;
  width: 50px;
  margin-left: 12%;
}

img[src="./paypal.svg"] {
  margin-right: 20px;
}

.creditcard_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black
}

.cards_img {
  margin-left: 110px !important;
}

/* .cardinfo_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardinfo_item {
  padding: 10px;
  width: 43%;
  margin-bottom: 10px;
  
}

.cardinfo_position {
  position: relative;
}

.cardinfo_input {
  border: 1px solid #e2e2e2;
  height: 30px;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  outline: none;
  color: var(--textColor);
} */

.notice_statement {
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.notice_statement p {
  font-size: 12px;
  color: #828282;
  margin-left: 10px;
}

.currency_container {
  width: 360px;
  
  display: flex;
  flex-direction: column;
}

.currency_item {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}

.cart_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart_heading, .cart_sub_heading {
  margin: 0;
  line-height: 20px;
}

.cart_sub_heading {
  font-size: 12px;
  font-weight: 400;
}

.rotate_arrow {
  transform: rotate(180deg);
  transition: 0.5s;
}


/* CART ITEMS */

.cartItem_container {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem_image_container {
  height: 98px;
  width: 100px;
}

.cartItem_image {
  height: 100%;
  width: 100%;
}

.cartItem_details_container {
  width: 65%;
}

.details_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cartItem_qty {
  display: flex;
  align-self: flex-end;
}

.item_name {
  margin: 2px 0;
}

.line_strike {
  text-decoration: line-through;
  color: #b2bbca
}

.currency {
  margin: 0;
}

.reduce_icon, .text_quantity {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.discount_container {
  width: 100%;
  margin-top: 20px;
}

.hr_line {
  color: #E0E0E0;
  margin-top: 25px;
}

.grand_total {
  margin: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_margin {
  margin: 2px 0;
}

.tandc_container {
  margin-top: 20px;
}

.details_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bill_details {
  padding: 2px;
  width: 45%;
  margin-bottom: 5px;
}

.remove_link {
  color: var(--primary);
  text-decoration: none;
}

.bill_details:nth-child(2n) {
  text-align: right;
}

.bill_text {
  color: var(--textColor);
  margin: 2px 0;
  font-size: 14px;
  font-weight: 400;
}

.btn_container {
  width: 100%;
  height: 40px;
  background: linear-gradient(137.27deg, #2F88FF 19.41%, #1D68CD 65.49%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
  border-radius: 6px;
  margin-top: 20px;
}

.btn_primary {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.antivirus_logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate_svg {
  transform: rotate(180deg);
  transition: 1s;
}
